<!DOCTYPE html>
<html>
<head>
    {% if title %}
<title> flashblog {{+ title}} </title>
    <!-- The title will say home -->
    {% else %} 
           {{ 'home' }}
    {% endif %}
</head>
<body> 






    {% block content %} 
 
    {% endblock content %}

  
   


    {% include 'navbar.html' %}

    <h2>
         <!-- action=, sends you to /search route when clicked on -->
        <form method="POST" action="{{ url_for('main.search') }}"> 
            {{ form.csrf_token }}  
            {{ form.searched }}   
            {{ form.submit }} 
        </form>    
       
    </h2>
   
     <!-- From home. Prints userpost information -->
    {% block post_content %}    
    {% endblock post_content %}
</body>
</html>



  



